@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

label {
    font-family: 'Roboto', sans-serif;
}

span {
    font-family: 'Roboto', sans-serif;
}