.checkout-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: beige;
    padding: 20px;
    border-radius: 10px;
    height: 100%;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .formField {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }

    .delivery-wrapper {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 100%;
    }
}